*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 0 0 0;
  margin: 0.8vw 0.3vw 0.3vw 0.3vw;
}

html{
  font-family: Rubik;
  scroll-behavior: smooth;
  line-height: 1.6;
  background-color: white #ededed;
  font-size: 16px;
  color: black;
}

div{
  padding: 1em;
  line-height: 1.7em;
}

div.header{
  background-color: #E1EBEE;
  border-radius: 5px;
  border: 2px solid #477280;
}

div.header img{
  border-radius: 15%;
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 0;
  margin-right: 15px;
  display: block;
}

div.card{
  background-color: #fcfafa;
  border-radius: 10px;
  border: 2px solid #6699CC;
}

div.cardHighlight{
  /* background-color: #2a52be; */
  background-image: linear-gradient(to right, #1F75FE , #1F305E);
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

div.cardHighlight h1 a{
  color: white;
}

div.cardAd{
  background-color: #94b1d4;
  color: black;
  border-radius: 10px;
}

div.cardImage img {
  border-radius: 5px;
  float: left;
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
  padding: 0;
  margin: 0;
}

div.card p.tag{
  padding: 5px 10px 5px 10px;
  font-family: Open Sans;
  font-size: 12px;
  border-radius: 6px;
  background-color: #e1eaf0;
  color: #3b89db;
  width: fit-content;
  margin: 10px 8px 5px 0;
  display: inline-grid;
  font-weight: bold;
}

div h1{
  font-size: 20px;
  color: blue;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

div p.ReadMore{
  font-size: 12px;
}

div a{
  color: #318CE7;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor:pointer;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
