*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

html{
  font-family: Rubik;
  scroll-behavior: smooth;
  line-height: 1.6;
  background-color: white;
  font-size: 16px;
  color: #2e2e2e;
}

div.header, div.footer{
  background-color: #002244;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px 0 10px 0;
  text-decoration: none;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

hr.headerfooter{
  border: 0;
  margin:0;
  height: 7px;
  background: #B2FFFF;
}

div.mainContainer{
  padding:  4vh 4vw 0.3vw 4vw;
  /*Highlight Main Container: border: 1px solid black */
}

div.cardContainer{

}

div.cardHighlight{
  background-image: linear-gradient(to right, #1F75FE , #1F305E);
  color: white;
}

div.card{
  padding: 1vh;
  margin-bottom: 2vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #cccccc;
}

div.card h4.tag{
  background-image: linear-gradient(to right, #89CFF0 , #007FFF);
  padding: 3px 7px 3px 7px;
  margin-right: 5px;
  font-family: Open Sans;
  font-size: 12px;
  border-radius: 10%;
  color: white;
  width: fit-content;
  display: inline;
  font-weight: bold;
  user-select: none;
}

div.card h1{
  font-size: 20px;
  color: #041E42;
  text-decoration: none;
  font-family: Libre Baskerville;
}

div.card p{
  padding-top: 8px;
  font-size: 16px;
}

div.card p.details{
  color: #828282;
  font-size: 12px;
}

div.card a{
  color: #318CE7;
  text-decoration: none;
}

div.card a:hover{
  text-decoration: underline;
  cursor:pointer;
}

div.card hr{
  border: 0;
  margin-top: 5px;
  height: 1px;
  background: #b8b8b8;
  opacity: 0.5;
}

::-moz-selection { /* Code for Firefox overflow: auto; */
  color: #00FFFF;
  background: #002D62;
}

::selection {
  color: #00FFFF;
  background: #002D62;
}

/* Visit Page */

div.counter{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

div.counter h1 {
  font-size: 60px;
  color: #041E42;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
