h1{
  font-size: 25px;
  color: #3457D5;
  font-family: Rubik;
}

img{
  border-radius: 4px;
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
  height: overflow auto;
  webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.breadcrumb{
  font-family: Rubik;
  display: inline-grid;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
}

div.breadcrumb a{
  color: blue;
}
