h1{
  font-size: 25px;
  color: #3457D5;
  font-family: Rubik;
}

div.breadcrumb{
  font-family: Rubik;
  display: inline-grid;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
}

div.breadcrumb a{
  color: blue;
}
