.info-text-section {
  background-color: #f8fafc;
  padding: 2rem 1rem;
  color: #1e293b;
}

.info-container {
  max-width: 1200px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.7;
}

.info-container h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #0f172a;
}

.info-container ol,ul {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.info-container a {
  color: #1d4ed8;
  text-decoration: none;
}

.info-container a:hover {
  color: #0c4a6e;
}
